

div {
    /* border: 1px black solid ; */
}





/* .............................Navbar........................ */

.navbar img {
    width: 100px;
}


.navbar li {
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.navbar li a:hover {
    color: red;
}

.navbar li .active {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: red !important;
}


.navbar-toggler {
    border: none;
    box-shadow: none !important;
}




/* ......................banner.................... */


.banner .card img {
    height: 150px;
}


@media (max-width: 768px) {
    .banner .card img {
        height: 15vh;
    }
    
}



/* ....................scrollbar................... */

::-webkit-scrollbar {
    display: none;
    width: 0;
}




/* .....................Carousel..................... */


.carousel-item img {
    
    height: 70vh;
    background-size: cover;
    width: auto;

}

@media (max-width: 600px) {
    .carousel-item img {
        height: 40vh;
    }
    
}




/* ..............product item............... */


.product-item .card {
    margin-bottom: 13px;
    overflow: hidden;


}


.product-item .card img {
padding: 10px;
height: 300px;

}

@media (max-width: 768px) {
    .product-item .card img {
        height: 31vh;
    }
    
}





/* ...................products................. */


.products .card {
    margin-bottom: 10px;
    height: 420px;
   
}
.products .card img {
    height: 300px;
    padding: 10px;


}

.ratings {
    font-size: 12px;
    color: orange;
}

h5 {
    font-size: 18px;
}




@media (max-width: 768px) {

    .products .card {
        height: 300px;
        padding: 0px;
       
    }

    .products .card img {
        height: 31vh;

    }

    
    
    h5 {
        font-size: 12px;
    }

    .ratings{
        font-size: 10px;
    }
}




/* ..................offers............... */



.offer .card{
    border: none !important;
}



.card:hover {
    box-shadow: 0px 2px 54px 4px rgba(0, 0, 0, 0.09);
    transition: 0.5s;
}


/* ................All Categories................. */


.all-categories .item {
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.all-categories .item:hover {
    box-shadow: 0px 2px 54px 4px rgba(0, 0, 0, 0.09);
    transition: 0.5s;
}


